dist/
www/
coverage/
e2e/output
e2e/types

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
.env
coverage
test-report.xml
eslint-report.json
.scannerwork/

.npmrc