@import url("./variables.css");

body {
  margin: 0;
  padding: 0;

  header {
    padding: 20px 50px;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;

    #likes {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--primary-color);
      gap: 5px;
    }
  }
  section {
    display: flex;
    flex-direction: column;
  }
  button {
    background-color: transparent;
    border: none;
  }
}

article.characters {
  margin: 50px 5% 0 5%;
  #search {
    margin-bottom: 30px;
    width: 100%;
    input {
      height: 50px;
      border: none;
      border-bottom: 2px solid #000;
      outline: none;
      padding: 8px 0;
      font-size: 16px;
      width: calc(100% - 40px);
      background-color: white;
      background-image: url("./assets/images/search.png");
      background-position: 0 20px;
      background-repeat: no-repeat;
      padding-left: 40px;
    }
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;

    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--background-color);
      color: var(--primary-color);
      height: 300px;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-bottom: 25px solid #fff;
      }
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
      img {
        height: auto;
        width: 100%;
        height: 235px;
      }
      .divider {
        height: 5px;
        background-color: #ff0000;
      }
      .name {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        button {
          &:hover {
            transform: scale(1.01);
            background-color: transparent;
            border: none;
          }
        }
      }
    }
    .card.hiddenCard {
      display: none;
    }
  }
}

article#characterDetail {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: white;
  padding: 0 10%;
  max-height: 320px;
  gap: 30px;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-bottom: 40px solid #fff;
  }
  img {
    max-height: 320px;
  }

  #info {
    height: auto;
    #title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        width: 80%;
      }
    }
  }
}

article#comics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  h2 {
    width: 100%;
  }
  #carousel {
    flex-direction: row;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    background-color: var(--primary-color);
    scrollbar-color: #ff0000;
    gap: 1rem;
    width: 100%;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ff0000;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: #ddd;
      border-radius: 5px;
    }
  }
  .item {
    display: flex;
    flex-direction: column;
    width: 180px;
    img {
      aspect-ratio: 9/14;
      object-fit: cover;
    }
    p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    #ffffff 15%,
    #ff0000 20%,
    #ff0000 35%,
    #ffffff 40%,
    #ffffff 55%,
    #003366 60%,
    #003366 80%,
    #ffffff 85%
  );
  position: relative;
  animation: spin 1.5s linear infinite;
  margin: 5% auto;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 35px;
    background: #ffffff;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
    transform: translate(-50%, -50%) scale(1.1);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  article#characterDetail {
    flex-direction: column;
    max-height: none;
    #carousel {
      padding: 0 5%;
    }
  }
  article#comics {
    width: 90%;
  }
}
